<div class="comment">
<p>
  <strong>Commenter:</strong>
  <span class="commenter"><%= comment.commenter %></span>
</p>
 
<p>
  <strong>Comment:</strong>
  <span class="comment_body"><%= comment.body %></span>

</p>

<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
</div>

