<div id="wrap">
	<div id="main">
		<h3>
		  <strong>Title:</strong>
		  <%= @article.title %>
		</h3>
		 
		<h4>
		  <strong>Text:</strong>
		  <%= @article.text %>
		</h4>

		  <h2>Comments</h2>
		  <%= render @article.comments %>

		<h2>Add a comment:</h2>
		<%=render "comments/form" %>

		<%= link_to 'Back', articles_path %>
		| <%= link_to 'Edit', edit_article_path(@article) %>
	</div>

	<div id="sidebar">
		<h2>Current Profile</h2>
		<h4>Last Name:
			<span id="last_name">Doe</span> 
		</h4>
		<h4>Middle Name:
			<span id="middle_name">N/A</span> 
		</h4>
		<h4>First Name:
			<span id="first_name">John</span> 
		</h4>

		<div class="quote">
			John said  "blah blash"
		</div>

	</div>

</div>