<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <script src="../../javascripts/lib/jquery.js"> </script>
    <script src="../../javascripts/lib/jquery-ui-1.11.0/jquery-ui.js"></script>
    <script src="http://cdn.jquerytools.org/1.2.6/jquery.tools.min.js" type="text/javascript"></script>
  <script src="../../javascripts/Split.js"> </script>
  <script src="../../javascripts/runner.js"> </script>

</head>
<body>

<%= yield %>

</body>
</html>
