/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
}
#wrap {
	width:755px;
	margin:0 auto;
	background:#99c;
}
#main {
	float:left;
	width:450px;
	background:#9c9;
}
#sidebar {
	float:right;
	width:300px;
	background:#c9c;
	padding-left: 5px;
}
.quote {
	background:#0DD;
}